---
layout: page
title: About / Acerca de
---

<h2>The "Carbon Based Lifeform" project</h2>

<div class="multiling"> <!--The first div is the container--> 

<div lang="en" class="left"> <!--the lang attribute is not doing anything yet, but the class=left gets this div in the left column-->
<h3>English</h3>
<p lang="en">This site was created in the framework of the course "Digital Publishing with Minimal Computing:
humanities at a global scale" with the aim of hosting a digital edition of the “Descripción de Buenos Ayres”, from Acarete du Biscay's <i>Un viaje al Río de la Plata</i>.</p>
</div>

<div lang="es" class="right"> <!--y lo mismo con la derecha-->
<h3>Español</h3>
<p lang="es">Este sitio fue creado en el marco del course "Digital Publishing with Minimal Computing:
humanities at a global scale" con el objetivo de alojar la edición digital de la “Descripción de Buenos Ayres”, contenida en <i>Un viaje al Río de la Plata</i>, de Acarete du Biscay.</p>
</div>
</div>


<br/>


<div>
<h2>About us / Quiénes somos</h2>
<ul>
<li><a href="/group-2-project/jewlia-koehn">Jewlia Koehn</a></li>          
<li><a href="/group-2-project/gabriel-calarco">Gabriel Calarco</a></li>
<li><a href="/group-2-project/pamela-gionco">Pamela Gionco</a></li>
<li><a href="/group-2-project/daniel-rossi">Daniel Rossi</a></li>

</ul>
</div>

<br/>
<div>
<h2>How we work / Cómo trabajamos</h2>
<ul>
<li><a href="/group-2-project/charter">Team charter / Estatuto del equipo</a></li>          
<li><a href="/group-2-project/ed_prin">Editorial principles / Principios editoriales</a></li>
</ul>
</div>