---
layout: tei
title: Versión en español de la "Descripción de Buenos Aires"
document: acarete_esp.xml
permalink: acarete_es
---
<p>El texto en castellano de la “Descripción de Buenos Aires” proviene de la traducción realizada por Daniel Maxwell 
para la edición del relato de Acarete en el número 49 de <i>La Revista de Buenos Aires</i>, publicada en Argentina en 1867 (pp. 17-21). 
Nuestra edición ofrece el texto modernizado, en donde regularizamos los usos ortográficos decimonónicos 
(destacados en <span class="green">verde</span>) 
y corregimos los errores de imprenta de la edición original (destacados en <span class="red">rojo</span>), 
en paralelo a la reproducción facsimilar de las páginas de la revista. 
Para más información sobre los criterios utilizados para la edición digital consulte nuestros 
<a href="ed_prin">principios editoriales</a>.</p>
<h2>(<a href="acarete_en">ver la versión en inglés</a>)</h2>