---
layout: tei
title: English version of "A Description of Buenos Ayres"
document: acarete_eng.xml
permalink: acarete_en
---
<p>Introduction to the English version. 
More information:
<a href="ed_prin">editorial principles</a>.</p>
<h2>(<a href="acarete_es">see the Spanish version</a>)</h2>