---
layout: default
title: Home / Principal
permalink: /
---
<div type="photo">
<img src="\group-2-project\assets\images\map.jpg"></img>
</div>
</br>
<div class="multiling"> <!--The first div is the container--> 

<div lang="en" class="left"> <!--the lang attribute is not doing anything yet, but the class=left gets this div in the left column-->
<p>Our digital publishing project offers the edition of two translations,
in English and Spanish, from the chapter dedicated to the description of Buenos Aires in the account of the trip made
by Acarete du Biscay to the Río de la Plata and Peru,
originally published in French in 1672.</p>
</div>

<div lang="es" class="right"> <!--y lo mismo con la derecha-->
<p>Nuestro proyecto de publicación digital ofrece la edición de dos traducciones, 
al inglés y al castellano, del capítulo dedicado a la descripción de Buenos Aires en el relato del viaje realizado 
por Acarete du Biscay al Río de la Plata y al Perú virreinal, 
publicada originalmente en francés en 1672.</p>
</div>
</div>
<br/>
<div class="multiling"> <!--The first div is the container--> 

<div lang="en" class="left"> <!--the lang attribute is not doing anything yet, but the class=left gets this div in the left column-->
<a href="acarete_en"><img src="\group-2-project\assets\images\cover_en.jpg"></img></a>
<h2><a href="acarete_en">English version</a></h2>
</div>

<div lang="es" class="right"> <!--y lo mismo con la derecha-->
<a href="acarete_es"><img src="\group-2-project\assets\images\cover_es.jpg"></img></a>
<h2><a href="acarete_es">Versión en español</a></h2>
</div>
</div>
