---
layout: default
title: Team / Equipo
---

<br/>


<div>
<h2>About us / Quiénes somos</h2>
<ul>
<li><a href="/group-2-project/jewlia-koehn">Jewlia Kohen</a></li>
<li><a href="/group-2-project/gabriel-calarco">Gabriel Calarco</a></li>
<li><a href="/group-2-project/pamela-gionco">Pamela Gionco</a></li>
<li>Daniel Rossi</li>

</ul>
</div>

<br/>

<h2>How we work / Cómo trabajamos</h2>
<div>
<h2><a href="/group-2-project/charter">Team charter / Contrato de equipo</a></h2>
</div>