---
layout: default
title: Daniel's Bio
permalink: daniel-rossi
---
<div>
    <ul>
        <li><a href="/group-2-project/_pages/about">Back / Volver</a></li>
        </ul>
    </div>
<div>
<h1>Daniel Rossi (Bio)</h1>
</div>
</br>
<div>
<p> Hello there, My name is Daniel Rossi. I was born on January 1st, 1996. I live in the city and state where I was born and raised, Silver Spring, Maryland. I am an English Student at the University of Maryland. 
</br>
After I graduate with an English Degree in the focus of Media Studies, I want to pursue a career of critiquing various film and musical contributions.</p>
</div>