---
layout: default
title: Gabriel Calarco (Bio)
permalink: /gabriel-calarco
---

<div>
<ul>
    <li><a href="/group-2-project/_pages/about">Back to About page</a></li>
    </ul>
</div>

<h1>Gabriel Calarco (Bio)</h1>

<br/>

<div type="bio" lang="es">
<p>Gabriel Calarco es Profesor y Licenciado en Letras por la Universidad de Buenos Aires y actualmente se encuentra cursando sus estudios de doctorado en la misma universidad. Laboralmente se desempeña como becario del Foncyt en el marco del proyecto PICT “Proyección de la matriz narrativa cronística en el sistema literario bajomedieval castellano: edición de textos y estudio histórico” y como profesor de Literatura en el Nivel Medio en los institutos San francisco de Asís y Pizzurno (Lanús).</br> 
Su interés por las Humanidades Digitales se centra principalmente en la edición digital de textos medievales a través del uso de la herramienta TEI, actividad en la cual comenzó a formarse en 2017 bajo la dirección de la Dra. Gimena del Río Riande y ha colaborado en varios proyectos de HD como “Diálogo Medieval”, “Pelagios al Sur”, “TThub” y “Poesía Medieval”. Como parte de su proyecto de tesis se encuentra trabajando en el desarrollo de una herramienta digital destinada al estudio de la écfrasis en el <i>Libro de Alexandre</i>.
</p>
</div>
<p>----------------------------------------------------</p>
<div type="bio" lang="es">
<p>Gabriel Calarco is a Professor and Bachelor of Arts from the University of Buenos Aires and is currently pursuing his PhD studies at the same university. He works as a Foncyt scholarship holder within the framework of the PICT “Proyección de la matriz narrativa cronística en el sistema literario bajomedieval castellano: edición de textos y estudio histórico” project and as Literature teacher at the "San Francisco de Asís" and "Pizzurno" institutes in Lanús, Buenos Aires.</br> 
His interest in Digital Humanities is mainly focused on the digital edition of medieval texts using TEI, an activity in which he began to train in 2017 under the direction of Dr. Gimena del Río Riande and has collaborated in DH projects such as “Diálogo Medieval”, “Pelagios al Sur”, “TThub” and “Poesía Medieval”". As part of his thesis project he is working on the development of a digital tool for the study of ekphrasis in the <i>Libro de Alexandre</i>.
</p>
</div>

<br/>

<div type="photo">
<img src="\group-2-project\assets\images\gab_bio-img.jpg"></img>
</div>

<div type="contact">
<p>Contacto: gabcalarco@gmail.com</p>
</div>
