---
layout: default
title: Jewlia's Bio
permalink: /jewlia-koehn
---
<div>
    <ul>
        <li><a href="/group-2-project/_pages/about">Back / Volver</a></li>
        </ul>
    </div>
<div>
<h1>Jewlia Koehn (Bio)</h1>
</div>
</br>
<div>
<p> My name is Jewlia Koehn and I was born in October of 1999, in Southern Maryland, US. I grew up with a love for the English language and how it worked. This eventually led me to pursuing an English degree from first my hometown community college, CSM, then transferring to the University of Maryland to obtain my bachelors. 
</br>
I am pursuing an editorial career in the future, but also am interested in Digital Humanities and how it effects today's society. Learning how to properly code and develop a website with my teammates has been a lovely journey that I am excited to continue.
<div>
<div type="photo">
<img src="\group-2-project\assets\images\biopic.JPG"></img></div>

